* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid gold; */
}


/* root */
:root {
  --light-pink: #fff1f1;
  --h1-color-grad: #222222;
  --h1-color-grad-2: #303030;
  --text-gray: #878787;
  --red: #e10000;
  --gray: #f2f2f2;
  --gray-2: #e5e5e5;
  --clr-white: #fff;
  /* shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* transition */
  --transition: all 0.3s linear;
  --font-clr: #000;
  --h1fontMobile: 46.74px;
  --h1fontDesktop: 61px;
  --bg-blue: #15172c;
  --bg-yellow: #ff9c00;
  --light-red: #fff1f1;
}
.alertbox{
	width: 300px;
	padding: 10px;
	margin: 15px;
  height: auto;
	position: absolute;
	right: 0;
	top: 15;
	z-index: 2;
}

		.alert{
			padding: 10px 50px;
			margin-top: 5px;
		}

		.alert-danger{
			background-color: #f00;
			color: #fff;
		}

		.alert-warning{
			background-color: rgb(223, 135, 4);
			color: #fff;
		}

		.alert-success{
			background-color: rgb(8, 168, 8);
			color: #fff;
		}
.relative {
  position: relative;
}
.message-container {
  background-color: var(--light-pink);
  height: 53px;
  /* overflow: hidden; */
  display: none;
  align-items: center;
}
.message-alert {
  width: 200vw;
  justify-content: space-between;
  overflow: auto;
  
}
.scroll {
  animation: message 10s linear infinite;
  width: 80%;
  /* border: 1px solid black; */
}
.brand-desktop,
.hero-coin-icons {
  display: none;
}
.glass{
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter:blur(8px) ;
}
/* nav {
  background-color: var(--clr-white);
} */
.shadow-1 {
  box-shadow: var(--light-shadow);
}
.bordered {
  border: 1px solid black;
}
.nav-main-container {
  position: fixed;
  /* background-color: var(--clr-white); */
  z-index: 1000;
  top: 0;
  width: 100%;
}
.nav-main-container .container{
  padding: 0;
}
.nav-header{
  /* position: fixed; */
  width: 100%;
  z-index: 1000;
  /* padding: 0 1rem 0 0; */
  /* background-color: var(--clr-white); */
  /* margin: 0;
  left: 0;
  right: 0; */
}
.nav-shadow{
  box-shadow: var(--light-shadow);

}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* width: 100vw; */
}
.nav-links {
  height: 0rem;
  overflow: hidden;
  transition: var(--transition);
  padding: 0 1rem;
  /* border: 1px solid black; */
}
.brand-mobile{
  width: 40px !important;
  height: 40px !important;
}
.brand-mobile img{
  width: 100% !important;
  height: 100% !important;
}
.sign-up {
  height: 51px;
  width: 167.3px;
  border-radius: 26.8px;
  background-color: var(--gray);
  margin-bottom: 20px;
  border: 0.3px solid var(--red);
  box-shadow: 0px 5.021209716796875px 13.180675506591797px 0px #FFC0003D, 0px 0px 14.017542839050293px 3.8229665756225586px #FFFFFF75 inset;
}
.arrow-down {
  padding-left: 10px;
}
.sign-up-drop-down {
  height: 0rem;
  /* transform: translateY(-100); */
  overflow: hidden;
  transition: var(--transition);
}
.nav-links a {
  text-decoration: none;
  color: var(--font-clr);
  text-transform: capitalize;
}
.nav-icon {
  padding-right: 10px;
}
.show-links {
  height: 25rem;
}
.show-signup {
  height: 20rem;
}
.brand-mobile {
  width: 20px;
}
.brand-mobile img {
  width: 100%;
}

.hamburger .fa-bars {
 exchange-section
  font-size: 1.1rem;
}
.hamburger {
  transition: var(--transition);
}
.hamburger:hover {
  /* color: var(--clr-primary-1); */
  transform: rotate(90deg);
}
.nav-item {
  margin-bottom: 45.69px;
}
/* hero style */
.red-design {
  background-image: url(../assets/FD\ Art.png);
  background-size: cover;
  position: absolute;
  width: 27%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -100;
  display: none;
}
.red-design-mobile {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  z-index: -100;
  background: url(../assets/9.png);
}
header {
  min-height: 100vh;
  background-image: url(../assets/FD\ BG-dust.png);
}
.headerOne {
  font-size: var(--h1fontMobile);
  font-weight: 800;
  margin-top: 150px;
  line-height:  51.29px;
  font-family: 'Inter', sans-serif;
  animation: headerOne 2s;
}
@keyframes headerOne{
  from{
    transform: translate(-50%);
    opacity: 0;
  }
  to{
    transform: translate(0%);
    opacity: 1;
  }
}
.headerOne,
.headerTwo {
  text-align: center;
}

.hero-description {
  display: none;
}
.hero-btn {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 209.47500610351562px;
  padding: 0;
}
/* .btn img {
  box-shadow: 1px 1px 4px #e1000093;
} */

.ctaText {
  position: absolute;
  color: var(--clr-white);
}
.hero-poster {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.poster-container {
  position: absolute;
  bottom: 20px;
  width: 350px;
  height: 350px;
  animation: appear 2s;
}
.poster-container img{
  height: 100%;
}
@keyframes appear {
  from{
    opacity: 0;
    transform: translateY(100%);
    transform: scale(1.5);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
    transform: scale(1);
  }

}
.custom-shape-divider-bottom-1648453308 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1648453308 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 130px;
}

.custom-shape-divider-bottom-1648453308 .shape-fill {
  fill: var(--bg-blue);
}
/* hero style Ends here */
.height-100 {
  min-height: 100vh;
}
.height-80 {
  min-height: 80vh; 
  /* border: 2px solid red; */
}
.height-120 {
  /* height: 120vh; */
  background: url(../assets/FD\ BG-dust.png) var(--gray-2);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  /* margin-top: calc(); */
}
.gray-bg{
  background: url(../assets/FD\ BG-dust.png) var(--gray-2);
  background-size: cover;
  background-position: center;
}
.bg-blue {
  background-color: var(--bg-blue);
}

/* exchange style */
.exchange {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  top: 0;
  /* background-image: url(../assets/Mask\ group.png); */
}
#sale-point{
  padding-bottom: 100px;
}
.coin-form-btn {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.m-auto {
  margin: 0 auto;
}
.crypto-text {
  text-align: center;
  color: var(--clr-white);
  margin-top: 80px;
}
.progress-bar-container {
  margin-top: 54.94px;
  margin-bottom: 23.64px;
}
.progress-bar-outer {
  background-color: var(--red);
  height: 7px;
  display: flex;
  border-radius: 3px;
}
.progress-bar-inner {
  width: 10%;
  background: var(--bg-yellow);
  border-radius: 3px;
}
.coin-exchange-container select,
.input-container input {
  height: 86px;
  border-radius: 10px;
  margin-bottom: 18px;
  padding: 0 47px;
}
.coinIcon,.bankIcon{
  position: absolute;
  top: 30px;
  left: 20px;
}
.four-step-right,.trade-cont{
  padding: 0;
}
.fourStepsHeader {
  color: var(--red);
  margin-top: 69px;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.four-step-poster{
  margin-top: 20px;
  width: 100%;
  height: 500px;
  /* border: 1px solid ; */
}
.four-step-poster img{
  width: 100%;
  height: 100%;
}
.steps:not(:first-child){
  margin: 18px 0;
}
.steps:first-child{
  margin-top: 18px;
}
.fourStepsHeader ~ h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 51px;
  /* width: var(50% - 1000px); */
}
/* exchange style ends here */
/* four steps */
button {
  outline: none;
  border: none;
}
select,
input::placeholder {
  padding: 10px;
}
input,
select {
  padding: 10px;
}
.steps {
  align-items: center !important;
  /* padding: 5px; */
}
/* dashboard-sign-in-section */
.dashboard .frame-work{
  display: none;
}
.frame-work{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.frame-work img{
  width: 100%;
}

.design-right{
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
  display: none;
}
.dashLeftDesign{
  display: none;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: -1;
  width:200px;
}
.eth-dynamic-premium,
.eth-dynamic-premium-2{
  display: none;
}
.design-left{
  width: 100%;
}
.dashboard-blurb {
  justify-content: center;
}
.dashboard-credit{
  display: flex;
  justify-content: center;

}
.dashboard-credit-left {
  align-self: center;
  width: 346px;
  overflow: hidden;
  margin-bottom: 20px;
}
.dashboard-credit-left img {
  /* width: 346px; */
  margin: 0 0 -300px 0;
}

.blurb {
  background-color: var(--clr-white);
  height: 170.71495056152344px;
  border-radius: 16.036479949951172px;
  padding: 0 32.25px;
}
.blurb-icon {
  margin-top: 33px;
}
.blurb-icon ~ h3 {
  margin-top: 8.39px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.blurb-icon ~ h3 ~ p {
  margin-top: 11px;
  font-size: 9px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
}
.mr-36 {
  margin-right: 20.2px;
}
.mt-36 {
  margin-top: 39.29px;
}
.dashboard-sign-in{
  margin-top: 119px;
}
.dashboard-sign-in-section {
  background-color: var(--bg-blue);
  border-radius: 30px;
  padding:50px;
  color: var(--clr-white);
  /* margin-bottom: 199px; */
}
.sign-in-btn{
  margin-top: 45px
}
/* dashboard-sign-in-section ends */
/* team-section */
.team-section{
  text-align: center;
  margin-top: 70px;
}
.team-profile{
  margin-top: 143px;
}
.team-profile-slider {
  position: relative;
  /* margin-right: 20px; */
}
.team-profile-slider:before, .team-profile-slider:after {
  position: absolute;
  top: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 20px;
  height: 100%;
}
.team-profile-slider:before {
  left: 0;
  background: linear-gradient(90deg, #fff, transparent);
}
.team-profile-slider:after {
  right: 0;
  background: linear-gradient(-90deg, #fff, transparent);
}
.first-slider{
  overflow: auto;
  width: 100%;
  cursor: pointer;
}
.first-slider.active{
  cursor: grab;
}
.first-slider::-webkit-scrollbar{
  width: 0;
}
.first-slider .col-12, .first-slider .col-md-6{
  width: 95% !important;
}

.team-slider{
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 8px #ccc6c6ce;
  margin-right: 20px;
  font-size: 9px;
  /* border: 1px solid black; */
  /* width: 100%; */
  height: 174.76px;
  
}
.profile-bio p{
  color: var(--text-gray);
}
/* .team-profile-slider{
  animation: flow 20s linear infinite;
  padding: 20px;  

} */
.team-profile-slider:hover{
  animation-play-state: paused;
}
.profile-image-container{
  /* width: 30%; */
  margin-right: 20.48px;
}

.profile-image{
  background-color: #15172c;
  width: 82.21px;
  height: 82.21px;
  border-radius: 50%;
}
.profile-image img{
   width: 100%;
   height: 100%;
   border-radius: 50%;

 }

@keyframes flow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* team-section ends */
/* trader-section */
.trader-bg{
  background: url(../assets/FD\ BG-dust.png) var(--bg-yellow);
  padding: 186px 0;
}
.trader-text{
  margin-top: 60px;
  font-size: var(--h1fontMobile);
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
   /* width: calc(100% - 200px); */

}

.trader-bg .frame-work, .frame-work-bottom{
  /* display: none; */
  height: 52px;
  /* width: 100%; */

}
.trader-bg .frame-work img, .frame-work-bottom img{
  width: 100%!important;
}
.frame-work{
  position: absolute;
  top: 0!important;
}
.frame-work-bottom{
  bottom: 0!important;
  position: absolute;
  width: 100%;
}
.trader-bg .frame-work img, .frame-work-bottom img{
  /* display: none; */
  height: 100%;
}
.trader-btn{
  /* display: none; */
  /* justify-content: center; */
  margin-top: 20px;
}
.trader-btn  .ctaText{
  color: var(--red);
}
.trade-cont{
  display: flex;
  justify-content: center;
}
.trader-poster{
  margin-top: 40px;
  /* display: none; */
  padding: 0;
  width: 100%!important;
}
.trader-poster img{
  width: 100% !important;
  height: 100%;
}
/* trader-section ends */
/* frames */
@keyframes message {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-80%);
  }
}
/* frames ends here */
/* footer-section */
.footer-cta-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 92px 0;
}
.footer-cta-bg{
  background-color: var(--gray-2);
  
}
.subBtn{
  background-color: #000;
}
.footer-main{
  padding: 119px 0;
  background-color:#0A142F;

}
.lighter-font{
  font-weight: 100;
}
.footer-main a, .footer-main h3{
  text-decoration: none;
  color: var(--clr-white);
}
#email{
  height: 48.59825134277344px;
  width: 248px;
  border-radius: 6px;
  border: none;
}
.footer-input-container{
  width: fit-content;
}
#email ~ button{
  height: 48.59825134277344px;
  width: 50px;
  border-radius: 0  6px 6px 0;
  background-color: var(--red);
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: var(--clr-white);
  font-size: 2rem;

}
.hr{
  border: 1px solid var(--clr-white);
  margin: 67.9px 0 32px;
}

.social-icon{
  margin-right: 10px;
}
.footer-icon{
  margin-bottom: 29.9px;
}
.footer-product{
  color: var(--clr-white);
  display: flex;
  align-items: center;
}
.footer-brand{
  width: 30px;
}
/* footer-section ends */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .reserved{
    /* border-top: 1px solid #fff; */
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
  .reserved::after{
    content: "";
    display: block;
    width: 90%;
    border-top: 0.4px solid #fff;
    position: absolute;
  }
  .hr,.footer-product,.mail-contact{
    display: none;
  }
  .mail-contact-2{
    margin-top: 58.9px;
    font-weight: 100;
  }
  a{
    font-weight: 100;
  }
  .subscribe-text{
    font-size: 16px;
  }
  

}
/** For mobile devices **/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero-poster {
    margin-top: 60px;
  }
  .trader-poster{
    width: 60%;
  }
  .trader-text{
    margin-top: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .height-80{
    height: 80vh;
  }
  /* .message-container {
    display: flex;
  } */
  .height-120 {
    margin-top: 0;
    padding: 199px 0;
  }
  .hamburger,
  .brand-mobile,
  .red-design-mobile,.mail-contact-2 {
    display: none;
  }
  .nav-links,
  .brand-desktop,
  .red-design,
  .hero-coin-icons,
  .frame-work,
  .design-right,
  .dashLeftDesign, 
  .eth-dynamic-premium,
  .eth-dynamic-premium-2,
  .trader-bg .frame-work, 
  .frame-work-bottom,
  .dashboard .frame-work {
    display: flex;
  }
  
  .nav-center {
    padding: 0;
  }
  .nav-links {
    height: fit-content;
    align-items: center;
    padding: 5px;
    /* position: static; */
    /* height: inherit; */
  }
  .sticky{
    position: sticky;
    top: 0px;
  }
  .nav-main-container .container{
    padding: auto;
  }
  .nav-header {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0px; */
    box-shadow: none;
    margin: auto;
  }
  .nav-item {
    margin-right: 74px;
  }
  .sign-up {
    position: relative;
  }
  .sign-up-drop-down {
    /* height: 0; */
    position: absolute;
    /* display: none; */
    /* transform: translateY(50%); */
    overflow: hidden;
    transition: var(--transition);
  }
  .sign-link {
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(2);
    text-align: center;
    width: 10rem;
  }
  .sign-link:last-child {
    border-top: 1px solid var(--red);
  }
  .sign-up,
  .nav-item {
    margin-bottom: 0px;
  }
  .headerOne {
    font-size: var(--h1fontDesktop);
    margin-top: 232px;
    line-height:  73.2px;
  }
  .headerOne,
  .headerTwo {
    text-align: left;
  }
  .headerTwo{
    margin: 10px 0;
  }
  .hero-description {
    display: block;
    width: calc(100% - 100px);
  }
  .hero-btn {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 209.47500610351562px;
  }
  .hero-poster {
    display: flex;
    justify-content: center;
  }
  .poster-container {
    width: fit-content;
    height: 72%;
    /* border: 1px solid black; */
    margin-top: 70px;
    /* position: static; */
    bottom: 70px;
  }
  .poster-container img{
    width: auto;
    height: 100%;
  }
  .custom-shape-divider-bottom-1648453308 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 150px;
  }
  .crypto-text,
  .progress-bar-container,
  .coin-exchange-container {
    margin: 0 auto;
  }
  .progress-bar-container {
    margin-top: 67.82px;
    margin-bottom: 93.82px;
  }
  .coin-exchange-container select {
    margin-bottom: 45px;
  }
  .coin-form-btn {
    margin-top: 30px;
    justify-content: start;
  }
  /* .hero-poster {
    margin-top: 150px;
    border: 1px solid black;
  } */
  .fourStepsHeader{
    margin-top: 128px;
  }
  .btn {
    border: none;
    background-color: none;
  }
  .dashboard-blurb {
    justify-content: start;
  }
  .dashboard-credit {
    display: block;
    
  }
  .dashboard-credit-left{
    width: auto;
  }
  .dashboard-credit-left img {
    width: auto;
    margin: 0;
  }
  
  
  .blurb {
    /* height: 0; */
    height: 307px;
    left: 593px;
    border-radius: 28.83871078491211px;
    background-color: var(--clr-white);
    padding: 0 20px;
  }
  .blurb-icon {
    margin-top: 60px;
  }
  .blurb-icon ~ h3 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
  }
  .blurb-icon ~ h3 ~ p {
    margin-top: 11px;
    font-size: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .mr-36 {
    margin-right: 36px;
  }
  .mt-36 {
    margin-top: 36px;
  }
  .blurb:hover {
    background-color: var(--bg-blue);
    color: white;
    transition: var(--transition);
  }
  .blurb:hover .fill-icon {
    fill: var(--light-red);
  }
 .eth-dynamic-premium,.frame-work-bottom{
   position: absolute;
   
 }

 .frame-work-bottom img{
   width: 100%;
 }
 .eth-dynamic-premium-2{
   position: absolute;
   bottom: 170px;
   right: 200px;

 }
  .dashboard-sign-in-section {
    padding: 100px;
  }
  .sign-in-btn{
    justify-content: center;
    margin-top: 0;
  }
  .dashboard-sign-in{
    margin-top: 177px;
  }
  
  .trader-bg{
    padding: 50px 0 50px;
  }
  .trader-text{
    margin-top: 156px;
    font-size: var(--h1fontDesktop);
    font-weight: 800;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: left;
     width: calc(100% - 200px);
  
  }
  .trader-btn{
    justify-content: left !important;
  }
  .four-step-right{
    padding: auto;
  }
  .trade-cont{
    padding: auto!important;
  }
  .trader-poster{
    width:75% !important;
    /* margin-top: 100px; */
    /* border: 1px solid black; */
    padding: auto;
    height: 90%;
  }
  .trader-poster img{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;

  }

  .four-step-poster{
    height: 70.8%;
    width: fit-content;
    margin-top: 70px;
  }
  .four-step-poster img{
    width: auto;
    /* border: 1px solid black; */
    /* height: in; */
  }
  .first-slider .col-lg-4{
    width: 501.84px!important;
  }
  .team-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 231.32px;

  }
  .profile-image{
    width: 117.41px;
    height: 117.41px;
    border-radius: 50%;
    background-color: #15172c;
   }
   .input-container input, .input-container select{
     padding: 0 90px;
   }
   .bankIcon,.coinIcon{
     left: 61.25px;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-poster {
    margin-top: 100px;
  }
  .headerOne {
    width: calc(100% - 100px);
  }
  .sign-in-text-container h3{
    width: calc(100% - 200px);
  }
  .blurb{
    padding: 0 40;
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .hero-poster {
    margin-top: 0px;
  }
  .trader-bg{
    padding: 50px 0 0px;
  }
  .headerOne {
    font-size: var(--h1fontDesktop);
    margin-top: 232px;
    line-height:  73.2px;
  }
  .headerTwo{
    margin: 18px 0;
  }
  .hero-btn{
    margin-top: 57px
  }
  .hero-description{
    width: calc(100% - 200px);
  }
}
