* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root */
:root {
  --light-pink: #fff1f1;
  --h1-color-grad: #222222;
  --h1-color-grad-2: #303030;
  --red: #e10000;
  --gray: #f2f2f2;
  --clr-white: #fff;
  /* shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* transition */
  --transition: all 0.3s linear;
  --font-clr: #000;
  --h1fontMobile: 46.74px;
  --h1fontDesktop: 61px;
  --bg-blue: #15172c;
  --bg-yellow: #ff9c00;
}
.relative {
  position: relative;
}
.message-container {
  background-color: var(--light-pink);
  height: 53px;
  /* overflow: hidden; */
  display: none;
  align-items: center;
}
.message-alert {
  width: 200vw;
  justify-content: space-between;
  overflow: auto;
}
.scroll {
  animation: message 10s linear infinite;
  width: 80vw;
  /* border: 1px solid black; */
}
.brand-desktop {
  display: none;
}
nav {
  background-color: var(--clr-white);
}
.shadow-1 {
  box-shadow: var(--light-shadow);
}
.bordered {
  border: 1px solid black;
}
.nav-main-container {
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-links {
  height: 0rem;
  overflow: hidden;
  transition: var(--transition);
}
.sign-up {
  height: 51px;
  width: 167.3px;
  border-radius: 26.8px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px #e1000093;
  /* border: 1px solid black; */
}
.arrow-down {
  padding-left: 10px;
}
.sign-up-drop-down {
  height: 0rem;
  /* transform: translateY(-100); */
  overflow: hidden;
  transition: var(--transition);
}
.nav-links a {
  text-decoration: none;
  color: var(--font-clr);
  text-transform: capitalize;
}
.nav-icon {
  padding-right: 10px;
}
.show-links {
  height: 25rem;
}
.show-signup {
  height: 20rem;
}
.hamburger .fa-bars {
  font-size: 1.1rem;
}
.hamburger {
  transition: var(--transition);
}
.hamburger:hover {
  /* color: var(--clr-primary-1); */
  transform: rotate(90deg);
}
.nav-item {
  margin-bottom: 45.69px;
}
/* hero style */
.red-design {
  background-image: url(../assets/FD\ Art.png);
  bottom: 0;
  z-index: 28;
}
header {
  height: 100vh;
  background-image: url(../assets/FD\ BG-dust.png);
}
.headerOne {
  font-size: var(--h1fontMobile);
  margin-top: 110px;
}
.headerOne,
.headerTwo {
  text-align: center;
}
.hero-description {
  display: none;
}
.hero-btn {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 209.47500610351562px;
  padding: 0;
}
/* .btn img {
  box-shadow: 1px 1px 4px #e1000093;
} */

.ctaText {
  position: absolute;
  color: var(--clr-white);
}
.hero-poster {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.poster-container {
  width: 370px;
  height: 300px;
}

.custom-shape-divider-bottom-1648453308 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1648453308 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 130px;
}

.custom-shape-divider-bottom-1648453308 .shape-fill {
  fill: var(--bg-blue);
}
/* hero style Ends here */
.height-100 {
  height: 100vh;
}
.bg-blue {
  background-color: var(--bg-blue);
}
/* exchange style */
.exchange {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 100;
}
.coin-form-btn {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.m-auto {
  margin: 0 auto;
}
.crypto-text {
  text-align: center;
  color: var(--clr-white);
  margin-top: 8;
}
.progress-bar-container {
  margin-top: 54.94px;
  margin-bottom: 23.64px;
}
.progress-bar-outer {
  background-color: var(--red);
  height: 7px;
  display: flex;
  border-radius: 3px;
}
.progress-bar-inner {
  width: 10%;
  background: var(--bg-yellow);
  border-radius: 3px;
}
.coin-exchange-container select,
.input-container input {
  height: 86px;
  border-radius: 10px;
  margin-bottom: 18px;
}
.fourStepsHeader {
  color: var(--red);
  margin-top: 69px;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.fourStepsHeader ~ h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 51px;
  /* width: var(50% - 1000px); */
}
/* exchange style ends here */
/* four steps */

.steps {
  align-items: center !important;
  /* padding: 5px; */
}
/* frames */
@keyframes message {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-80%);
  }
}
/* frames ends here */

/** For mobile devices **/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero-poster {
    margin-top: 60px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .message-container {
    display: flex;
  }
  .hamburger,
  .brand-mobile {
    display: none;
  }
  .nav-links,
  .brand-desktop {
    display: flex;
  }
  .nav-center {
    padding: 0;
  }
  .nav-links {
    height: fit-content;
    align-items: center;
    /* height: inherit; */
  }
  .nav-header {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 80px;
  }
  .nav-item {
    margin-right: 74px;
  }
  .sign-up {
    position: relative;
  }
  .sign-up-drop-down {
    /* height: 0; */
    position: absolute;
    /* display: none; */
    /* transform: translateY(50%); */
    overflow: hidden;
    transition: var(--transition);
  }
  .sign-link {
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(2);
    text-align: center;
    width: 10rem;
  }
  .sign-link:last-child {
    border-top: 1px solid var(--red);
  }
  .sign-up,
  .nav-item {
    margin-bottom: 0px;
  }
  .headerOne {
    font-size: var(--h1fontDesktop);
    margin-top: 163px;
  }
  .headerOne,
  .headerTwo {
    text-align: left;
  }
  .hero-description {
    display: block;
  }
  .hero-btn {
    display: flex;
    justify-content: left;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 209.47500610351562px;
  }
  .hero-poster {
    display: block;
    justify-content: center;
  }
  .poster-container {
    width: fit-content;
    height: fit-content;
  }
  .custom-shape-divider-bottom-1648453308 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 150px;
  }
  .crypto-text,
  .progress-bar-container,
  .coin-exchange-container {
    margin: 0 auto;
  }
  .progress-bar-container {
    margin-top: 67.82px;
    margin-bottom: 93.82px;
  }
  .coin-exchange-container select {
    margin-bottom: 45px;
  }
  .coin-form-btn {
    margin-top: 30px;
    justify-content: start;
  }
  .hero-poster {
    margin-top: 150px;
  }
  .btn {
    border: none;
    background-color: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-poster {
    margin-top: 100px;
  }
  .headerOne {
    width: calc(100% - 150px);
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .hero-poster {
    margin-top: 0px;
  }
}
